@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #17153B;
  --color-background: #FFF2F2;
  --color-primary: #7286D3;
  --color-secondary: #8EA7E9;
  --color-accent: #E5E0FF;
}

.dark {
  --color-text: #E5E0FF;
  --color-background: #17153B;
  --color-primary: #433D8B;
  --color-secondary: #2E236C;
  --color-accent: #C8ACD6;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary-light dark:from-dark-tertiary dark:to-dark-accent;
}

.gradient-bg {
  @apply bg-gradient-to-r from-primary to-primary-light dark:from-dark-secondary dark:to-dark-tertiary;
}

/* Clases de utilidad personalizadas */
.bg-custom-light {
  @apply bg-primary-lightest dark:bg-dark-primary;
}

.bg-custom-card {
  @apply bg-white dark:bg-dark-secondary;
}

.text-custom-title {
  @apply text-primary dark:text-dark-accent;
}

.text-custom-body {
  @apply text-gray-700 dark:text-primary-lighter;
}

.border-custom {
  @apply border-primary-lighter dark:border-dark-tertiary;
}

.hover-custom {
  @apply hover:text-primary dark:hover:text-dark-accent transition-colors;
}

.btn-primary {
  @apply gradient-bg text-white rounded-full px-6 py-2 transition-transform hover:scale-105;
}

.btn-secondary {
  @apply bg-primary-lighter dark:bg-dark-tertiary text-primary dark:text-white border border-primary/20 dark:border-dark-accent/20 rounded-full px-6 py-2 transition-transform hover:scale-105;
}