---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Partners from '../components/Partners.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Orion Dev - Soluciones Tecnológicas">
  <main>
    <Hero />
    <Services />
     <Partners />
    <About />
  </main>
</Layout>
