<section class="py-8 border-t border-gray-200 dark:border-gray-800">
    <div class="container mx-auto px-4">
      <div class="text-center mb-6 text-sm text-gray-600 dark:text-gray-400">
        Confían en nosotros más de 500 empresas
      </div>
      <div class="flex flex-wrap justify-center items-center gap-8 md:gap-12">
        <img src="/logo/google.png" alt="Google" class="h-10 w-17 dark:filter dark:invert" />
        <img src="/logo/microsft.png" alt="Microsoft" class="h-10 w-17 dark:filter dark:invert" />
        <img src="/logo/amazon.jpeg" alt="Amazon" class="h-10 w-17 dark:filter dark:invert" />
        <img src="/logo/netflix.png" alt="Netflix" class="h-10 w-17 dark:filter dark:invert" />
      </div>
    </div>
  </section>